@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About us | Helperland";
}
<section>
    <div>
        <img src="~/Images/aboutbanner.png" alt="" class="img-fluid custom-banner">
    </div>
    <div class="container-fluid custom-margin mt-5 ">
        <div class="row  text-center">
            <h1 class="custom-text-prices">A Few words about us</h1>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-2">
        <div class="custom-separator-line me-3"> </div>
        <div> <img src="~/Images/forma-1-copy-5.png " class="img-fluid" alt=""></div>
        <div class="custom-separator-line ms-3"></div>
    </div>
    <div class="container mt-5">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <p class="mb-3 mt-3 custom-about-para text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.</p>
        </div>
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <p class="mb-3 mt-3 custom-about-para text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque recusandae dignissimos quibusdam reprehenderit asperiores ducimus atque temporibus dolor enim debitis. Repellendus, corrupti! Autem corporis, ullam asperiores porro quo, dolore quisquam sint quia voluptatum commodi ea molestias sit deleniti magnam neque. Cum, dolorum facere tempora enim labore corrupti quod quos delectus a ducimus assumenda doloremque asperiores vitae ipsam ullam quibusdam itaque et voluptates fugit tenetur! Est ipsum quaerat accusamus suscipit. Laborum obcaecati a consectetur placeat quos repellendus sequi nostrum molestiae voluptate numquam commodi consequatur earum fugiat odio mollitia non suscipit nam quas aperiam aut, id beatae. Eos quisquam exercitationem nam? Tempora!</p>
        </div>

    </div>
    <div class="container-fluid custom-margin mt-5 ">
        <div class="row  text-center">
            <h1 class="custom-text-prices">Our Story</h1>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-2">
        <div class="custom-separator-line me-3"> </div>
        <div> <img src="~/Images/forma-1-copy-5.png " class="img-fluid" alt=""></div>
        <div class="custom-separator-line ms-3"></div>
    </div>
    <div class="container mt-5">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <p class="mb-3 mt-3 custom-about-para text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.</p>
        </div>
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <p class="mb-3 mt-3 custom-about-para text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque recusandae dignissimos quibusdam reprehenderit asperiores ducimus atque temporibus dolor enim debitis. Repellendus, corrupti! Autem corporis, ullam asperiores porro quo, dolore quisquam sint quia voluptatum commodi ea molestias sit deleniti magnam neque. Cum, dolorum facere tempora enim labore corrupti quod quos delectus a ducimus assumenda doloremque asperiores vitae ipsam ullam quibusdam itaque et voluptates fugit tenetur! Est ipsum quaerat accusamus suscipit. Laborum obcaecati a consectetur placeat quos repellendus sequi nostrum molestiae voluptate numquam commodi consequatur earum fugiat odio mollitia non suscipit nam quas aperiam aut, id beatae. Eos quisquam exercitationem nam? Tempora!</p>
        </div>

    </div>
    <div class="container-fluid mt-5 mb-5 d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center">
            <h4 class="text-center">GET OUR NEWSLETTER</h4>
            <div class="d-flex flex-wrap justify-content-center gap-3">
                <input class="newsletter-input" type="email" name="" id="" placeholder="email" />
                <div> <button class="submit">Submit</button></div>
            </div>
        </div>
    </div>


</section>