@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "FAQs | Helperland";
}

<section>
    <div>
        <img src="~/Images/faq-banner.png" alt="" class="img-fluid custom-banner">
    </div>
    <div class="container-fluid custom-margin mt-5 ">
        <div class="row  text-center">
            <h1 class="custom-text-prices">FAQs</h1>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-2">
        <div class="custom-separator-line me-3"> </div>
        <div> <img src="~/Images/forma-1-copy-5.png " class="img-fluid" alt=""></div>
        <div class="custom-separator-line ms-3"></div>
    </div>
    <div class="container">
        <div class="row mt-3 text-center">
            <p class="custom-faq-text">
                Whether you are Customer or Service provider,<br> We have tried our best
                to solve all your queries and questions.
            </p>
        </div>
    </div>
    <div class="container mt-5 text-center">
        <ul class="nav nav-tabs d-flex custom-flex">
            <li class="nav-item">
                <a href="#cust" class="nav-link active " data-bs-toggle="tab"> FOR CUSTOMER</a>
            </li>
            <li class="nav-item">
                <a href="#sp" class="nav-link" data-bs-toggle="tab"> FOR SERVICE PROVIDER</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="cust">
                <div class="accordion" id="accordionSection1">
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="heading-1">
                            <button type="button" class="accordion-button collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne1">
                                <img src="~/Images/vector-smart-object-copy.png"
                                     alt=""> &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Aspernatur, impedit.
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="collapseOne1"
                             data-bs-parent="#accordionSection1">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </div>
                        </div>


                    </div>
                </div>
                <div class="accordion" id="accordionSection2">
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="heading-1">
                            <button type="button" class="accordion-button collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne2">
                                <img src="~/Images/vector-smart-object-copy.png"
                                     alt=""> &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Aspernatur, impedit.
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="collapseOne2"
                             data-bs-parent="#accordionSection2">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </div>
                        </div>


                    </div>
                </div>
                <div class="accordion" id="accordionSection3">
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="heading-1">
                            <button type="button" class="accordion-button collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne3">
                                <img src="~/Images/vector-smart-object-copy.png"
                                     alt=""> &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Aspernatur, impedit.
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="collapseOne3"
                             data-bs-parent="#accordionSection3">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </div>
                        </div>


                    </div>
                </div>
                <div class="accordion" id="accordionSection4">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1">
                            <button type="button" class="accordion-button collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne4">
                                <img src="~/Images/vector-smart-object-copy.png"
                                     alt=""> &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Aspernatur, impedit.
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="collapseOne4"
                             data-bs-parent="#accordionSection4">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </div>
                        </div>


                    </div>
                </div>
                <div class="accordion" id="accordionSection5">
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="heading-1">
                            <button type="button" class="accordion-button collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne5">
                                <img src="~/Images/vector-smart-object-copy.png"
                                     alt=""> &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Aspernatur, impedit.
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="collapseOne5"
                             data-bs-parent="#accordionSection5">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </div>
                        </div>


                    </div>
                </div>
                <div class="accordion" id="accordionSection6">
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="heading-1">
                            <button type="button" class="accordion-button collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne6">
                                <img src="~/Images/vector-smart-object-copy.png"
                                     alt=""> &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Aspernatur, impedit.
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="collapseOne6"
                             data-bs-parent="#accordionSection6">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </div>
                        </div>


                    </div>
                </div>
                <div class="accordion" id="accordionSection7">
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="heading-1">
                            <button type="button" class="accordion-button collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne7">
                                <img src="~/Images/vector-smart-object-copy.png"
                                     alt=""> &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Aspernatur, impedit.
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="collapseOne7"
                             data-bs-parent="#accordionSection7">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </div>
                        </div>


                    </div>
                </div>
                <div class="accordion" id="accordionSection8">
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="heading-1">
                            <button type="button" class="accordion-button collapsed " data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne8">
                                <img src="~/Images/vector-smart-object-copy.png"
                                     alt=""> &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Aspernatur, impedit.
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="collapseOne8"
                             data-bs-parent="#accordionSection8">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </div>
                        </div>


                    </div>
                </div>
                <div class="accordion" id="accordionSection9">
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="heading-1">
                            <button type="button" class="accordion-button collapsed custom-accordion-button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne9">
                                <img src="~/Images/vector-smart-object-copy.png" alt=""> &nbsp; Lorem ipsum dolor
                                sit, amet consectetur adipisicing elit. Aspernatur, impedit.
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="collapseOne9"
                             data-bs-parent="#accordionSection9">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </div>
                        </div>


                    </div>
                </div>




            </div>

        </div>
        <div class="container-fluid mt-5 mb-5 d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center">
                <h4 class="text-center">GET OUR NEWSLETTER</h4>
                <div class="d-flex flex-wrap justify-content-center gap-3">
                    <input class="newsletter-input" type="email" name="" id="" placeholder="email" />
                    <div> <button class="submit">Submit</button></div>
                </div>
            </div>
        </div>


</section>