@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Homepage</title>
    <style>
        #thispwd {
            background-color: #1D7A8C !important;
            color: #FFF;
            width: 90%;
            margin: auto;
        }

        #fg {
            margin: 0px !important;
        }


        #not {
            margin-left: 2.5rem;
            margin-right: 2.5rem;
            margin-bottom: 3rem;
        }

        #notnew {
            margin-left: 3rem;
        }

        #new {
            margin-left: 0.75rem;
        }

        #rememberme {
            font-size: 2rem;
        }
    </style>


    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel=stylesheet>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>

    <header class="fixed-top bg-transparent navbar-fixed-top">
        <div class="custom-navbar-full-image-logo">
            <img src="~/Images/white-logo-transparent-background.png" alt="" class="mt-5 ms-3 img-fluid xyz">

        </div>
        <nav class="custom-mobile-navbar fixed-top" id="nav-menu">
            <ul class="nav__list">
                <i class="bi bi-x-lg header__close" id="close-menu"></i>
                <li class="nav__items border-btn"><a href="" class="nav__link">Book Cleaner</a></li>
                <li class="nav__items"><a asp-action="Prices" asp-controller="home" class="nav__link">Prices & Services</a></li>
                <li class="nav__items"><a href="" class="nav__link">Warranty</a></li>
                <li class="nav__items"><a href="" class="nav__link">Blog</a></li>
                <li class="nav__items"><a asp-action="ContactUs" asp-controller="home" class="nav__link">Contact</a></li>
                <li class="nav__items border-btn"><a href="#myModal" data-toggle="modal" data-target="#myModal" data-dismiss="modal" class="nav__link">Login</a></li>
                <li class="nav__items border-btn"><a asp-controller="home" asp-action="BecomeHelper" class="nav__link">Become a Helper</a></li>

                <li class="nav__items">
                    <a href="" class="nav__link custom-navbar-icon-show-hide"><img src="~/Images/fb.png" alt=""></a>
                    <a href="" class="nav__link custom-navbar-icon-show-hide"><img src="~/Images/inst.png" alt=""></a>
                </li>
            </ul>
        </nav>
        
        <i class="bi bi-list header__toggle" id="toggle-menu"></i>
    </header>
    <main>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">

                <!-- Modal content-->

                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">
                            Login to your account</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body loginPopup p-2">
                        <form action="">
                            <div id="not" class="mb-5">
                                <input type="email" placeholder="Email" class="form-control form-control-lg"
                                       id="inputEmail" maxlength="25" />
                            </div>
                            <div id="not" class="mb-5">
                                <input type="password" placeholder="password" class="form-control form-control-lg"
                                       id="inputEmail" maxlength="25" />
                            </div>
                            <div class="form-group d-flex" id="notnew">
                                <input type="checkbox" value="rememberme" id="rememberme" class="abb">
                                <label for="rememberme" class="control-label mr-2 d-flex" id="new">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block rounded-pill mb-3" id="thispwd">Login</button>
                        </form>
                        <div class="text-center mt-2 mb-3">
                            <a href="#forgotPassword" class=" forgotPwd text-decoration-none" data-target="#forgotPassword"
                               data-toggle="modal" data-dismiss="modal">Forgot Password?</a>
                        </div>
                        <div class="text-center mt-3">
                            Don't have account? <span>
                                <a asp-controller="home" asp-action="NewCustomerAccount">Create an account? </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="forgotPassword" role="dialog">
            <div class="modal-dialog modal-dialog-centered">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 id="fg">Forgot password </h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span id="new" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-controller="Account" asp-action="ForgotPasswordResetlink">
                            <div id="not" class="mb-5">
                                @Html.TextBox("Email", "", new { @class = "form-control form-control-lg" })
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block rounded-pill mb-3" id="thispwd">Send</button>
                        </form>

                        <div>
                            <a href="#myModal" data-toggle="modal" data-dismiss="modal" data-target="#myModal" class="d-flex justify-content-center mb-3">Login now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="hero-banner-section" style="background-image: url('/Images/group-35.png') ">
            <div class="container">

                <h1>Lorem ipsum text</h1>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                </ul>
                <div class="btn-wrapper text-center">
                    <a href="#" title="Let's Book a Cleaner" class="custom-book-a-cleaner">Let's Book a Cleaner</a>
                </div>
                <div class="step-wrapper">
                    <div class="row justify-content-center flex-wrap">
                        <div class="col-lg-3 col-6 process-item-1 full-width">
                            <div class="step">
                                <span>
                                    <img src="~/Images/group-22.png" alt="Enter Postcode">
                                </span>
                                <p>Enter your postcode</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 process-item-2 full-width">
                            <div class="step">
                                <span>
                                    <img src="~/Images/forma-1-copy.png" alt="Select Plan">
                                </span>
                                <p>Select your plan</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 process-item-3 full-width">
                            <div class="step">
                                <span>
                                    <img src="~/Images/forma-1.png" alt="Pay Securely">
                                </span>
                                <p>Pay securely online</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 process-item-4 full-width">
                            <div class="step">
                                <span>
                                    <img src="~/Images/fourth.png" alt="Amazing service">
                                </span>
                                <p>Enjoy amazing service</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="scroll-link-wrapper">
                <a href="#" title="Scroll Down" class="scroll-link">
                    <img src="~/Images/bottom.png" alt="Scroll-down">
                </a>
            </div>
        </section>
        <section class="why-helperhand scroll-section">
            <div class="container">
                <h2 class="text-center">Why Helperland</h2>
                <div class="row justify-content-center helperhand-wrapper">
                    <div class="col-lg-4 col-sm-6 text-center">
                        <div class="img-block">
                            <img src="~/Images/group-21.png" alt="Professionals">
                        </div>
                        <h3 class="justify-content-center d-flex align-items-center">
                            Experience & Vetted Professionals
                        </h3>
                        <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <div class="img-block">
                            <img src="~/Images/group-23.png" alt="Online Payment">
                        </div>
                        <h3 class="justify-content-center  d-flex align-items-center">Secure Online Payment</h3>
                        <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <div class="img-block">
                            <img src="~/Images/group-24.png" alt="Customer service">
                        </div>
                        <h3 class="justify-content-center  d-flex align-items-center">Dedicated Customer Service</h3>
                        <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-section">
            <div class="container">
                <div class="blog-description-block">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-6">
                            <h2 class="h3">Lorem ipsum dolor sit amet, consectetur</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.</p>
                            <p>Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.</p>
                            <p>Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="image-wrapper">
                                <img src="~/Images/group-36.png" alt="Blog description">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-blog-block">
                    <h2 class="text-center">Our Blog</h2>
                    <div class="row blog-wrapper">
                        <div class="col-lg-4 col-sm-6 blog-detail-outer">
                            <div class="blog-detail">
                                <div class="blog-image">
                                    <img src="~/Images/group-28.png" alt="blog-image">
                                </div>
                                <div class="blog-content">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <span>January 28, 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <a href="#" title="Read More" class="arrow-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 blog-detail-outer">
                            <div class="blog-detail">
                                <div class="blog-image">
                                    <img src="~/Images/group-29.png" alt="blog-image">
                                </div>
                                <div class="blog-content">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <span>January 28, 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <a href="#" title="Read More" class="arrow-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 blog-detail-outer">
                            <div class="blog-detail">
                                <div class="blog-image">
                                    <img src="~/Images/group-30.png" alt="blog-image">
                                </div>
                                <div class="blog-content">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <span>January 28, 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <a href="#" title="Read More" class="arrow-link">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="customer-section">
            <div class="container">
                <h2 class="text-center">What Our Customers Say</h2>
                <div class="row customer-wrapper">
                    <div class="col-lg-4 col-sm-6">
                        <div class="customer-inner">
                            <em class="message-infor">
                                <img src="~/Images/message.png" alt="Message Info">
                            </em>
                            <div class="person-info d-flex align-items-center">
                                <div class="person-image">
                                    <img src="~/Images/group-31.png" alt="Lary Watson">
                                </div>
                                <div class="person-content">
                                    <span class="person-name">Lary Watson</span>
                                    <span class="person-city">Manchester</span>
                                </div>
                            </div>
                            <div class="person-detail">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <a href="#" title="Read More" class="arrow-link">Read More </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="customer-inner">
                            <em class="message-infor">
                                <img src="~/Images/message.png" alt="Message Info">
                            </em>
                            <div class="person-info d-flex align-items-center">
                                <div class="person-image">
                                    <img src="~/Images/group-32.png" alt="John Smith">
                                </div>
                                <div class="person-content">
                                    <span class="person-name">John Smith</span>
                                    <span class="person-city">Manchester</span>
                                </div>
                            </div>
                            <div class="person-detail">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <a href="#" title="Read More" class="arrow-link">Read More </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="customer-inner">
                            <em class="message-infor">
                                <img src="~/Images/message.png" alt="Message Info">
                            </em>
                            <div class="person-info d-flex align-items-center">
                                <div class="person-image">
                                    <img src="~/Images/group-33.png" alt="Lars Johnson">
                                </div>
                                <div class="person-content">
                                    <span class="person-name">Lars Johnson</span>
                                    <span class="person-city">Manchester</span>
                                </div>
                            </div>
                            <div class="person-detail">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <a href="#" title="Read More" class="arrow-link">Read More </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-news-letter">
            <div class="container text-center">
                <h2>GET OUR NEWSLETTER</h2>
                <div class="form-row d-flex justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="email" style="display: none;">YOUR EMAIL</label>
                        <input type="text" placeholder="YOUR EMAIL" id="email" onkeyup="EnableDisable(this)" class="form-control">
                    </div>
                    <div class="btn-wrapper">
                        <button class="red-btn" id="btnSubmit" disabled="disabled">Submit</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a href="#" title="Helper Hand">
                            <img src="~/Images/white-logo-transparent-background.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a asp-action="index" asp-controller="home">Home</a>
                            </li>
                            <li>
                                <a asp-action="About" asp-controller="home">About</a>
                            </li>
                            <li>
                                <a href="#" title="Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a asp-action="Faq" asp-controller="home">FAQs</a>
                            </li>
                            <li>
                                <a href="#" title="Insurance Policy">Insurance Policy</a>
                            </li>
                            <li>
                                <a href="#" title="Impressum">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="~/Images/fb.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="~/Images/inst.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac malesuada ligula aliquam ac. <a href="#" title="Privacy Policy">Privacy Policy</a></p>
                <a href="#" class="yellow-btn ok-btn">OK!</a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>