*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.custom-nav-color{background-color: #525252;}
.custom-logo{width: 73px !important;height: 54px !important;}
.custom-navitems{color: #ffffff !important; font-size: 17px !important; line-height: 24px !important;}
.custom-nav-btn{background-color: #29626d; border: 1px solid white; border-radius: 20px; padding-inline:  18px !important;}   
.custom-special{border: 1px solid white; border-radius: 20px; padding-inline: 18px;}
.custom-banner{width: 100%;}
.custom-text-prices{color: #4f4f4f;font-size: 36px;line-height: 0.67;}
.custom-separator-line{ width: 62px;height: 1px;background-color: #ccc; }
.custom-card-header{background-color:#29626d ;height: 59px;color: #ffffff;font-size: 30px;font-weight: bold;text-align: center;}
#Euro{font-size: 48px;color: #646464;}
#hr{font-size: 30px; color: #646464;}
.custom-card-inside-text{color: #646464; margin-left: 110px;}
.custom-flex>*{flex: 1 1 50% ;}
.extra-services-img-borders{border: 1px solid #4f4f4f; border-radius: 50%; padding: 10px;}
.custom-img-borders{border: 1px solid #B0C9CE; border-radius: 50%;aspect-ratio: 1;width: 108px;}
.inside-cabinents{ color: #646464 !important;}
.mins{color: #1d7a8c !important;font-size: 18px;font-weight: bold;}
.custom-container{background-color: #f6f6f6;}



/*FAQ*/
.custom-faq-text{color: #646464;font-size: 18px;}
.nav-tabs .nav-link.active{ background-color: #1d7a8c; color: White;line-height: 61px;}
.nav-tabs .nav-link{border-bottom: 2px solid #1d7a8c; color: #646464; line-height: 61px; font-size: 24px;}
.custom-flex{flex-basis: 50%;}
.custom-accordion-button{border-style: none; color: #646464; background-color: transparent;}
.newsletter-input{border-radius: 20px; background-color: #F4F5F8; padding-inline-start: 15px;; border-color: #565656; line-height: 37px;}
.submit{background-color: #FF7B6D;border-style: none; border-radius: 20px; color: white;padding: 6px; padding-inline: 12px;}
@media (max-width:767px) {
    .custom-flex{flex-direction: column;}
    .navtabs{line-height: 45px;}
}


/*about*/
.custom-about-para{
    color: #646464;
}
/*become a provider*/

.custom-background{background-image: url(assets/bgbecome.png); height: 100%; background-repeat: no-repeat;background-size: cover;}
.custom-register{color: #4F4F4F;}
.custom-submit-button{background-color: #1D7A8C; border-radius: 23px;color: white; margin-top: 10px; align-items: center; margin-inline: auto;}
.custom-shape-1{padding-block: 22px;}
.custom-how-it-works{margin-bottom: 25px; color: #646464;}
.custom-para{font-size: 18px;}

/*upcoming services*/
.custom-notify-border{border-left: 1px solid white; border-right: 1px solid white;}
.custom-service-provider-upcoming-service-start{position: relative ;height: 119px;}
.custom-upcoming-service-header{color: #4F4F4F; font-size: 30px; padding:40px !important;}
.custom-background-bg-dim-sand{background-color: #F9F9F9;}
.custom-bg-dashboard-green{background-color: #1d7a8c;}
.custom-upcoming-service-desktop-view-left-side{ width: 262px;; height: 712px; padding: 18px 0 327px; background-color: #1d7a8c;}
.custom-upcoming-service-desktop-view-left-side ul li{font-size:18px;padding: 15px; background-color: transparent; border-top: 1px solid #ddd; border-radius: 0; color: #fff;}
.custom-upcoming-service-desktop-view-left-side ul li a{color: #FFFFFF;}
.custom-active-dark-green{background:transparent; background-color: #146371 !important;  width: 100%;}
.custom-upcoming-service-desktop-view-left-side ul li:hover{background:transparent; background-color: #146371 !important;  width: 100%;}
.white-hr{border-top: 1px solid white !important; opacity:0.2 ;}
.custom-position{position: absolute; bottom:  0px;}
.custom-cancel-btn { width: 80px; height: 34px; border-radius: 17px; border: none; background: #FF6B6B 0% 0% no-repeat padding-box; color: white; font-size: 16px; margin-top: 7px;}
@media(max-width:1040px){
    .custom-hide-mobile-view {display: none;}
}
@media(min-width:1240px) and (max-width:1400px){
    .custom-upcoming-service-desktop-view-left-side{margin-right:20px !important;}
    .custom-upcoming-service-right-side{margin-left:20px !important;}
}
@media(min-width:992px) and (max-width:1040px){
    .custom-upcoming-service-right-side{width: 100% !important;}
}
@media(min-width:1040px) and (max-width:1240px){
    .custom-hide-mobile-view{margin-right:30px !important;}
    .custom-upcoming-service-right-side{margin-left:30px !important;}
}













.site-footer .container { max-width: 1420px; }
.site-footer .footer-top { background: #111111; padding: 27px 0; }
.site-footer a { display: inline-block; }
.site-footer ul { list-style: none; padding: 0; margin: 0; }
.site-footer ul.footer-navigation li a:hover, .site-footer ul.social-media-list a:hover { opacity: 0.8; }
.site-footer ul.footer-navigation { flex-wrap: wrap; }
.site-footer ul.footer-navigation li+li { margin-left: 30px; }
.site-footer ul.footer-navigation li a { color: #F1F1F1; text-decoration: none; text-transform: uppercase; font-size: 14px; line-height: 2.14; transition: opacity 0.3s; }
.site-footer ul.social-media-list li { text-align: center; }
.site-footer ul.social-media-list a { width: 20px; height: 20px; transition: opacity 0.3s; }
.site-footer ul.social-media-list li:last-child { margin-left: 20px; }
.site-footer .footer-bottom { background: #292929; padding: 19px 0; position: relative; }
.ok-btn { position: absolute; text-decoration: none; color: #4F4F4F !important; background: #EED507; border-radius: 20px; width: 99px; height: 40px; line-height: 40px; right: 15px; top: 50%; transform: translateY(-50%); }
.site-footer .footer-bottom p { color: #f1f1f1; margin-bottom: 0; font-size: 14px; }
.site-footer .footer-bottom p a { text-decoration: none; color: #6EABEF; }
.custom-footer-text{color: #737381;}
.footer-li-text{color: #F1F1F1;}

@media (max-width:479px) {
    .site-footer ul.footer-navigation li { flex: 0 0 100%; max-width: 100%; text-align: center;}
    .site-footer ul.footer-navigation li+li { margin-left: 0;  }
    .a{text-align: center;}
}