@model Helperland.Models.ServiceRequest;


    <form method="post" id="schedulePlanForm" asp-controller="BookService" asp-action="ServiceSchedule" onsubmit='
                                    $("#yourDetailsTabController").prop("disabled" , false);
                                    document.getElementById("yourDetailsTabController").click();
                                    return false;
                                    '>
        <div class="row custom-borbot pb-3 custom-clscn">
            <div class="col-md-6">
                <p class="fw-bold mb-1">When do you need the cleaner?</p>
                <div>
                    <input type="date" name="servicedate" required
                           class="custom-hyper custom-padin custom-borlft custom-clscn mb-1"
                           asp-for="ServiceStartDate">
                    <select name="servicetime" id=""
                            class="custom-hyper custom-padin custom-borlft mb-1 custom-clscn">
                        <option value="8:00">8:00</option>
                        <option value="8:30">8:30</option>
                        <option value="9:00">9:00</option>
                        <option value="9:30">9:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <p class="fw-bold mb-1">How long do you need your cleaner to stay?</p>
                <select name="servicetime" id=""
                        class="custom-hyper custom-padin custom-borlft mb-1 custom-clscn" asp-for="ServiceHours">
                    <option value="3hrs">3 Hrs</option>
                    <option value="3.5hrs">3.5 Hrs</option>
                    <option value="4hrs">4 Hrs</option>
                    <option value="4.5hrs">4.5 Hrs</option>
                    <option value="5hrs">5 Hrs</option>
                    <option value="5.5hrs">5.5 Hrs</option>
                </select>
            </div>
        </div>
        <div><label class="mb-2 mt-3 fw-bold">Extra Services</label></div>
        <div class="mt-5 mb-5 custom-clscn d-flex align-items-center mt-3 mb-3 justify-content-center ">

            <div class="btn-group custom-avtgp" role="group"
                 aria-label="Basic checkbox toggle button group">
                <div class="d-flex flex-column align-items-center justify-content-between  custom-lbldt"
                     onclick="give();sub1();sub2();sub3();">
                    <label class="btn custom-btnpm custom-avtdt" for="cabinet">
                        <input type="checkbox" name="cabinet" id="cabinet">
                        <div class="tog">
                            <div class="custom-imdt custom-rounded-circle">

                                <img src="~/Images/3.png">
                                <img src="~/Images/3-green.png" style="display:none;">

                            </div>
                        </div>
                    </label>
                    <span class="text-center">Clean cabinet interiors</span>
                </div>

                <div class="d-flex flex-column align-items-center justify-content-center  custom-lbldt ">
                    <label class="btn custom-btnpm custom-avtdt" for="refrigerator">
                        <input type="checkbox" name="refrigerator" id="refrigerator">
                        <div class="tog">
                            <div class="custom-imdt custom-rounded-circle">

                                <img src="~/Images/5.png">
                                <img src="~/Images/5-green.png" style="display:none;">

                            </div>
                        </div>
                    </label>
                    <span class="text-center">Cleaning the refrigerator</span>
                </div>
                <div class="d-flex flex-column align-items-center  custom-lbldt">
                    <label class="btn custom-btnpm custom-avtdt" for="oven">
                        <input type="checkbox" name="oven" id="oven">
                        <div class="tog">
                            <div class="custom-imdt custom-rounded-circle">

                                <img src="~/Images/4.png" style="margin-top: 25%;">
                                <img src="~/Images/4-green.png"
                                     style="display:none; margin-top: 25%;">

                            </div>
                        </div>
                    </label>
                    <span class="text-center">Cleaning the oven</span>
                </div>
                <div class="d-flex flex-column align-items-center  custom-lbldt">
                    <label class="btn custom-btnpm custom-avtdt" for="laundry">
                        <input type="checkbox" name="laundry" id="laundry">
                        <div class="tog">
                            <div class="custom-imdt custom-rounded-circle">

                                <img class="" src="~/Images/2.png" style="margin: auto;">
                                <img src="~/Images/2-green.png"
                                     style="display:none; margin: auto;">

                            </div>
                        </div>
                    </label>
                    <span class="text-center">Wash and dry laundry</span>
                </div>
                <div class="d-flex flex-column align-items-center custom-lbldt ">
                    <label class="btn custom-btnpm custom-avtdt" for="windows">
                        <input type="checkbox" name="windows" id="windows">
                        <div class="tog">
                            <div class="custom-imdt custom-rounded-circle">

                                <img src="~/Images/1.png">
                                <img src="~/Images/1-green.png" style="display:none;">

                            </div>
                        </div>
                    </label>
                    <span class="text-center">Clean windows</span>
                </div>

            </div>
        </div>
        <div class="d-flex flex-column py-4">
            <label for="comments" class="custom-clscn fw-bold mb-3">Comments</label>
            <textarea asp-for="Comments" id="commnets" maxlength="500" placeholder="Comments"
                      rows="3" class="custom-padin"></textarea>
        </div>
        <div class="d-flex align-items-center custom-borbot pb-4">
            <input type="checkbox" asp-for="HasPets" id="pets">
            <label for="pets" class="ms-2">I have pets at home.</label>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="custom-gnbtn1 my-2 text-light rounded-pill">
                Continue
            </button>
        </div>
    </form>

